<!-- templates/weather.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Weather App</title>
</head>
<body>
    <header>
        Weather App
    </header>
    <main>
        <div class="weather-container">
            <h1>Current Weather in</h1>
            <p class="temperature">{{ temperature }}°C</p>
            <p class="weather-description">{{ weather_description }}</p>
        </div>
    </main>
</body>
</html>
