/* static/DjangoLife/styles.css */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: rgb(160, 134, 134);
}

h1 {
    color: white;
    text-align: center;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}
h2{
    margin: 20px;
}
table {
    background-color: #333;
    margin: 20px;
    color: white;
}
table, td, th {
    border: 2px solid rgba(red, green, blue, 0) ;
    border-collapse: collapse;
}

th, td {
    padding: 15px 30px;
}
td{
    background-color: rgb(65, 65, 65)
}