<!-- index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Webpage Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'LifeStyles/styles.css' %}">
</head>
<body>
    <h1>Hi welcome to Django</h1>
    <h2>Here are your access records</h2>
    <table class= 'bg-danger'>
    <tr>
        <th>Site Name</th>
        <th>Date Accessed</th>
    </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.webpage.name }}</td>
                <td>{{ item.access_date }}</td>
            </tr>
        {% endfor%}
    </table>

    
</body>
</html>
